<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small" id="header_title">
      <a [routerLink]="['/home']" routerDirection="home">
        <img src="../../../assets/images/sbeeh.png" id="sbeeh_logo">
        Scales Scanner
      </a>
    <button (click)="logout()" *ngIf="authenticationService.isLoggedIn$ | async">Logout</button> 
    </ion-title>
  </ion-toolbar>
</ion-header>
