ion-toolbar {

    ion-title {
        // padding: 40px;
        // width: 40px;
        // height: 40px;
        // background: url('http://sbeeh.fr/icons/sbeeh.png') no-repeat left center;

        a {
            position: relative;
            text-decoration: none;
            color: black;

            img {
                position: relative;
                height: 40px;
                width: 40px;
            }
        }

        a:hover {
            color: red;
        }

        button {
            // position: relative;
            // left: 82%;
            // align-items: flex-end;
            margin-left: 75%;
            border: 1px solid black;
            background: white;
            color: black;
            padding: 0.5em;

            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            letter-spacing: inherit;
            text-indent: inherit;
            text-transform: inherit;
            text-align: inherit;
            white-space: inherit;
        }

        button:hover {
            background: black;
            color: white;
        }
    }
}