<form (ngSubmit)="submitForm()" [formGroup]="loginForm" novalidate>
  <ion-list>
    <ion-title class="ion-text-center ion-padding-top">{{ appTitle }}</ion-title>
    <!-- Mail -->
    <ion-item>
      <ion-label position="stacked" color="">Adresse e-mail</ion-label>
      <ion-input type="email" placeholder="Entrez votre email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of errorMessages.email">
        <div class="error-message"
          *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <!-- Mot de passe -->
    <ion-item>
      <ion-label position="stacked">Mot de passe</ion-label>
      <ion-input type="password" placeholder="Entrez votre mot de passe" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of errorMessages.password">
        <div class="error-message"
          *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ validation.message }}
        </div>
        <!-- <div class="error-message" *ngIf="isFormSubmitted">
          {{ validation.message }}
        </div> -->
      </ng-container>
    </div>
  </ion-list>

  <!-- Button submit -->
  <div class="ion-padding">
    <ion-button expand="block" type="submit" color="success">
      Se connecter
    </ion-button>
  </div>
</form>

<!-- <div>
<pre> {{ loginForm.value | json }}</pre>
</div> -->

<!-- 
<ion-list>
  <ion-item>
    <p>{{authentification.email}}</p>
    <p>{{authentification.password}}</p>
  </ion-item>
</ion-list> -->