<ion-list>
  <ion-title class="ion-text-center ion-padding-top">{{ appTitle }}</ion-title>
  <ion-button color="primary" expand="block" (click)="scanCode()">
    Scan Code
  </ion-button>
  
  <div *ngIf="imeiScanned">
    <p>Imei scanné : <b>{{ imeiScanned }}</b></p>
  </div>
  
  <div *ngFor="let key of qrCodeKeys;">
    <span *ngIf="key == 'scale_id'" >
      <p>Scale ID : <b>{{ qrCodeContent[key] }}</b></p>
    </span>
    <span *ngIf="key == 'alias'" >
      <p>Alias : <b>{{ qrCodeContent[key] }}</b></p>
    </span>
    <span *ngIf="key == 'reference'" >
      <p>Référence : <b>{{ qrCodeContent[key] }}</b></p>
    </span>
    <span *ngIf="key == 'at'" >
      <p>Date : <b>{{ qrCodeContent[key] }}</b></p>
    </span>
    <span *ngIf="key == 'tare'" >
      <p>Tare : <b>{{ qrCodeContent[key] }} kg</b></p>
    </span>
    <span *ngIf="key == 'notify' && qrCodeContent[key] == 0" >
      <p>Notification : <b>NON</b></p>
    </span>
    <span *ngIf="key == 'notify' && qrCodeContent[key] == 1" >
      <p>Notification : <b>OUI</b></p>
    </span>
    <span *ngIf="key == 'hygrometry'" >
      <p>Humidité : <b>{{ qrCodeContent[key] }} %</b></p>
    </span>
    <span *ngIf="key == 'battery_level'" >
      <p>Niveau de batterie : <b>{{ qrCodeContent[key] }} V</b></p>
    </span>
    <span *ngIf="key == 'temperature'" >
      <p>Température : <b>{{ qrCodeContent[key] }} °C</b></p>
    </span>
    <span *ngIf="key == 'weight'" >
      <p>Poids : <b>{{ qrCodeContent[key] }} kg</b></p>
    </span>
    <!-- <p>{{ key }} : <b>{{ qrCodeContent[key] }}</b></p> -->
  </div>

</ion-list>